<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>

  {% if status == 'success' %}
  <p style="color: green;">Book was added successfully.</p>
  {% elif status == 'failure' %}
    <p style="color: red;">Book was not added. {{ warning }}.</p>
  {% endif %}

  <form action="/add_book" method="POST">
    <label for="isbn">Book ISBN:</label>
    <input type="text" id="isbn" name="isbn" required><br><br>

    <label for="title">Book Title:</label>
    <input type="text" id="title" name="title" required><br><br>

    <label for="publication_year">Publication year:</label>
    <input type="number" id="publication_year" name="publication_year" required><br><br>

    <label for="author_id">Choose book author:</label>
    <select name="author_id" id="author_id" required>
      <option value=""> -- Select -- </option>
      {% for author in authors %}
      <option value="{{ author.id }}">{{ author.name }}</option>
      {% endfor %}
    </select> <br><br>
    <input type="submit" value="Add book">
  </form>

  </body>
</html>
