<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
  <div class="forms">
    <form action="/" method="get" class="sorting-form">
      <input type="checkbox" id="sort" onclick="toggleVisibility('sorting')">
      <label for="sort">Sort books</label>
      <div id="sorting" class="hidden">
        <div class="radio-button">
          <input type="radio" id="sort-author" name="sort-order" value="author">
          <label for="sort-author">By author name</label>
        </div>
        <div class="radio-button">
          <input type="radio" id="sort-title" name="sort-order" value="title">
          <label for="sort-title">By book title</label>
        </div>
        <div class="radio-button">
          <input type="radio" id="sort-year" name="sort-order" value="publication_year">
          <label for="sort-year">By publication year</label>
        </div>

        <input type="submit" value="Sort books">
      </div>
    </form>
    <form action="/" method="get">
      <input type="text" placeholder="Search a book by title" name="search" id="search-title">
      <input type="submit" value="Search">

    </form>

    <a href="/"><button>Clear filters</button></a>
  </div>

  {% if message is defined %}
  <p>{{ message }}</p>
  {% endif %}

  <div class="books">
    {% for book in books %}

    <div class="book">
      <img src="https://covers.openlibrary.org/b/isbn/{{ book[0].isbn }}-M.jpg" />
      <div class="book-info">
        <h3>{{ book[0].title }}</h3>
        <p><em>by {{ book[1].name }}</em></p>
        <p>{{ book[0].publication_year }}</p>
      </div>
    </div>
    {% endfor %}

  </div>
  <script src="static/main.js"></script>
  </body>
</html>